<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>

  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
</head>

<footer class="text-center text-white fixed-bottom">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-white" href="/cars">Home</a>
    © 2022 Copyright: Carjiji
  </div>

</footer>
</html>
