<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
</head>

<footer class="bg-dark text-center text-white fixed-bottom">

  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center pt-2">
          <!--Grid column-->
          <div class="col-auto">
            <p class="">
              <a class="col-auto" href="/cars/">Home</a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <a class="col-auto" href="/user/listings">My Listings</a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <a class="col-auto" href="/conversations">Messages</a>
            </div>
            <!--Grid column-->

          </p>
          </div>
        <!--Grid row-->
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright: NikOlgJer Organization
    <!-- <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->
</footer>
</html>
