<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Account</title>
  <!-- change href of css file back to /styles/user.css once tsting is done. -->
  <link rel="stylesheet" href="/styles/user.scss">
</head>

<body>
  <section class='account'>
    <h1>Account info: 🥔</h1>
    <% if (user) { %>
      <div>
        User id: <%= user.id %><br>
      </div>
      <div>
        Name: <%= user.name %><br>
        <form>
            <input type="text" name="user_name" style="width: 200px; margin: 1em">
            <button type="submit" class="btn btn-primary">Update name</button>
        </form>
      </div>
      <div>
        Email: <%= user.email %><br>
        <form>
          <input type="text" name="user_email" style="width: 200px; margin: 1em">
          <button type="submit" class="btn btn-primary">Update email</button>
      </form>
      </div>
      <div>
        Phone: <%= user.phone %><br>
        <form>
          <input type="text" name="user_phone" style="width: 200px; margin: 1em">
          <button type="submit" class="btn btn-primary">Update phone</button>
      </form>
      </div>
      <% } %>

  </section>
  <section>
    <br>Stretch: add listing data/statistics here
  </section>
</body>

</html>
